@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");


/* https://coolors.co/88ccf1-c1dff0-3587a4-2d848a-2d898b */
.md-footer {
  background-color: transparent;
  backdrop-filter: blur(10px);
  color: #2d898b !important;
}
.md-footer__link .md-footer__title{
  margin:0;
}
.md-footer__inner{
  margin:0;
  bottom:-10px
}

.md-footer a {
  -webkit-transform: scale(0.7111);
  -moz-transform: scale(0.7111);
  -ms-transform: scale(0.7111);
  transform: scale(0.7111);
  /* width:100vw */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.md-header {
  background-color: #3587a4
}

.md-header__title{
  color: white !important;
  font-family: "Akshar", sans-serif;
}

h1,h2{
  font-family: "Akshar", sans-serif;
}

.md-search__form {
  height: 1.4rem;
  border-radius: 10px;
}

body{
  left:0;
  top:0;
  width:100vw;
  position:absolute;
}

*{
  font-family: "Plus Jakarta Sans", serif;
}

a{
  color: #88ccf1;
}